<div class="container">
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.1auto.co/storage/ready_for_sales/20220217191251_photo-1552519507-da3b142c6e3d.jpg" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="margin-bottom: 300px; font-size:50px; font-weight:bolder; color:DarkKhaki;">
        <h1 >Car Rental</h1>
        <p>Make your trips better</p>
          <a href="#" class="btn btn-warning" style="font-weight:bold; font-size:20px;">Book now</a>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/gallery_slide/public/images/car-reviews/first-drives/legacy/1_rangerover_tracking.jpg?itok=6eNG5PnC" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="margin-bottom: 300px; font-size:50px; font-weight:bolder;">
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://www.gpas-cache.ford.com/guid/d7afc86b-6ee3-332c-a23e-6df31812282b.png" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block" style="margin-bottom: 300px; font-size:50px; font-weight:bolder;">


      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<br>
<br>
<div class="container">
<div class="footer">
  <div class="footer-text">
<h4>Follow us on our social media pages:</h4>
<div class="icons">
<a href="https://www.facebook.com"><i class="fab fa-facebook"></i>
</a>
<a href="https://www.instagram.com"><i class="fab fa-instagram"></i>
</a>
<a href="https://www.youtube.com"><i class="fab fa-youtube"></i>
</a>
<a href="https://www.snapchat.com"><i class="fab fa-snapchat"></i>
</a>
</div>
</div>
</div>


</div>

</div>
